* {
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}

@font-face{
  font-family: 'Mars';
  src: url(../assets/Mars.ttf);
}

body {
 /*  background-color: rgb(238, 238, 238) !important;  */
  background-image: url(../img/A.png);
  background-size: cover;

}

img
{
  clip-path: polygon(0 0, 70% 0%, 100% 19%, 100% 100%, 30% 100%, 0 80%);
}

.img-bg
{
  background-image: url(../img/bro.png);
  background-size: cover;
}

.lpage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.lheading {
  width: 88% !important;
  font-family: 'Mars' !important;
  font-size: 4.5em !important;
  color: white !important;
  text-align: center;
}

.heading
{
  width: 88% !important;
  font-family: 'Mars' !important;
  font-size: 4.5em !important;
  color: white;
  text-align: center;
  padding-top: 50px;
}

/* .btn_our {
  background-color: white;
  border: none;
  width: 90px;
  border-radius: 50% !important;
  cursor: pointer;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
*/
.icono {
  font-size: 70px !important;
  color:black;
}

.btn_our {
  width: 180px;
  height: 70px;
  text-align: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%, 0% 55%);
  background-color: white;
  transition: .3s;

  animation: fadeInAnimation1 ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.btn_our:hover
{
  transform: translateX(50px);
  cursor: pointer;
}

nav
{
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  /* background-color: rgb(238, 238, 238); */
  height: 10vh;
  align-items:center;

  animation: fadeInAnimation1 ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  
    background:hsl(0, 0%, 100% / 0.1);
    overflow: hidden;
    backdrop-filter: blur(2rem);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    

    /* box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); */

}

.button {
   height: 35px;
  width: 120px;
  text-align: center;
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%, 0% 55%); */
  text-decoration: none;
  color:white;
  /* background-color: white; */
  transition: .3s;
  font-size: 22px;
  margin-inline: 30px;
}
.button:hover
{
  color:white;
  cursor: pointer;
  text-decoration: none;
  transform: scale(1.5);
}

/*
.button:after {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%, 0% 55%);
  display: inline-block;
  margin-inline: 2px;
  margin-top: 2px;
  background-color:rgb(50, 50, 50);
  height: 31px;
  width: 116px;
}
.button:hover::after
{
  background-color: white;
}
.b1:after{content:"Gallery"}
.b2:after{content:"How to"}
.b3:after{content:"Process"} */

.back{

  color:black;
background-color: white;
height: 50px;
width:150px;
font-size: 20px;
text-align: center;
border: none;
text-decoration: none;
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.gallery
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  animation: fadeInAnimation1 ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.grid
{
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 60px;
  height: 60vh;
  overflow: auto;
  padding: 10px;
}
.card
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    background:hsl(0, 0%, 100% / 0.1);
    backdrop-filter: blur(2rem);
    border-radius: 8px;
    transition: .3s ease;
    width: 16rem;
    height: 17rem;
}
}

.card:hover
{
  transform: scale(1.1);
}
.card img
{
  padding-top: 5px;
  height: 100%;
  width: 94%;
  border-radius: 8px 0px 0px 0px;
}
.card a
{
  text-decoration: none;
  color:white;
  margin-top: 5px;
}

.grid::-webkit-scrollbar{width: 5px;}
.grid::-webkit-scrollbar-thumb{background-color:  white;}

@keyframes fadeInAnimation1 {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.upload
{
  margin-top: 50px;
  height: 60vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  
  border-radius: 8px;

  background:hsl(0, 0%, 100% / 0.1);
    backdrop-filter: blur(2rem);
    border-radius: 8px;
    transition: .3s ease;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
}
.upload form
{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.upload input
{
  width: 100%;
  border-radius: 25px;
}
.upload label
{
  width: 100%;
  font-size: 20px;
}

.up
{
  height: 40px;
  border: none;
  background-color: white;
  width: 80%!important;
}
.container-img
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
