body {
    background-color: black !important; 
}

.container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    width: 88% !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 4.5em !important;
    color: white !important;
    text-align: center;
}

.btn_our {
    background-color: white;
    border: none;
    width: 90px;
    border-radius: 50% !important;
    cursor: pointer;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.icono {
    font-size: 80px !important;
}