{% extends "layouts/layout.html" %}

{% block titulo %} About Us {% endblock %}

{% block contenido %}

    <nav class="navbar navbar-expand navbar-light bg-light justify-content-center">
        <div class="nav navbar-nav">
            <a class="nav-link active" href="{% url 'gallery' %}">Galery</a>
            <a class="nav-link active font-weight-bold" href="{% url 'about-us' %}">About Us</a>
            <a class="nav-link active" href="{% url 'process' %}">Process</a>
        </div>
    </nav>
 
    <div class="container">
        <h1 id="text-box">About Us</h1>
    </div>
{% endblock %}