{% extends "layouts/layout.html" %}

{% block titulo %} Galery {% endblock %}

{% block contenido %}

    <div>
        <nav>
            <a class="button b1" href="{% url 'galery' %}"></a>
            <a class="button b2" href="{% url 'about-us' %}"></a>
            <a class="button b3" href="{% url 'process' %}"></a>
        </nav>
 
        <div class="gallery">
            <h1 class="heading" id="text-box">Gallery</h1>
            {% for img in galery %}
            <div class="grid">
                <div class="card" style="width: 12rem;">
                    <img class="card-img-top" src="{{ img.image.url }}" alt="Image">
                </div>
                <div class="card" style="width: 12rem;">
                    <img class="card-img-top" src="{{ img.image.url }}" alt="Image">
                </div>
                <div class="card" style="width: 12rem;">
                    <img class="card-img-top" src="{{ img.image.url }}" alt="Image">
                </div>
                <div class="card" style="width: 12rem;">
                    <img class="card-img-top" src="{{ img.image.url }}" alt="Image">
                </div>
                <div class="card" style="width: 12rem;">
                    <img class="card-img-top" src="{{ img.image.url }}" alt="Image">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}