{% extends "layouts/layout.html" %}

{% block titulo %} Gallery {% endblock %}

{% block contenido %}

<nav>
    <a class="button b1" href="{% url 'gallery' %}">Gallery</a>
    <a class="button b2" href="{% url 'about-us' %}">How to</a>
    <a class="button b3" href="{% url 'process' %}">Process</a>
</nav>

<div class="gallery">
    <h1 class="heading" id="text-box">Gallery</h1>
    <div class="grid">
        {% for img in images %}
        <div class="card">
            <img class="card-img-top" src="{{ img.image.url }}" alt="Image">
            <a href="{{ img.image.url }}" download><ion-icon name="cloud-download"></ion-icon>  Download</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
