{% extends "layouts/layout.html" %}

{% block titulo %} Gallery {% endblock %}

{% block contenido %}

<nav>
    <a class="button b1" href="{% url 'gallery' %}"></a>
    <a class="button b2" href="{% url 'about-us' %}"></a>
    <a class="button b3" href="{% url 'process' %}"></a>
</nav>

<div class="gallery">
    <h1 class="heading" id="text-box">Gallery</h1>
    <div class="grid">
        {% for img in images %}
        <div class="" style="width: 12rem;">
            <img class="card-img-top" src="{{ img.image.url }}" alt="Image">
            <a href="{{ img.image.url }}" download>Descargar</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}