{% extends "layouts/layout.html" %}

{% block titulo %} Image {% endblock %}

{% block contenido %}
    <div class="container">
        <a href="{% url 'gallery' %}"><button>Back</button></a>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ colored_Img.image.url }}" alt="Image">
            <a href="{{ colored_Img.image.url }}" download>Descargar</a>
        </div>
        <select name="" id="">
            {% for filter in filters %}
            <option value="{{ filter }}">{{ filter }}</option>
            {% endfor  %}
        </select>
    </div>
{% endblock %}